/POOEj01/nbproject/private/
/POOEj01/build/
/POOEj01/dist/
/MascotAPP/nbproject/private/
/MascotAPP/build/
/ejercicio01/nbproject/private/
/ejercicio01/build/
/ejercicio02/nbproject/private/
/ejercicio02/build/
/ejercicio03/nbproject/private/
/ejercicio03/build/
/ejercicio04/nbproject/private/
/ejercicio04/build/
/ejercicio05/nbproject/private/
/ejercicio05/build/
/ejercicio05/dist/
/ejercicio06/nbproject/private/
/ejercicio06/build/
/ejercicio07/nbproject/private/
/ejercicio07/build/
/ejercicio07/dist/
/ejercicio08/nbproject/private/